{% extends 'layout.html' %}

{% block body %}
<div class="container">
        <div class="card">
            <div class="card-header">
                    <h1>Responses</h1>
            </div>
            <div class="card-body">
                <ul class="list-group">
                    {% for contact_tracings in contact_tracings %}
                    <li class="list-group-item">
                        <div style="background-color: #f8f9fa; padding: 10px; border-radius: 5px;">
                            <a href="contact_tracings/{{contact_tracings.id}}" style="text-decoration: none; color: #333;">
                                <strong>Name:</strong> {{contact_tracings.name }}<br>
                                <strong>Contact Number:</strong> {{contact_tracings.phone }}<br>
                                <strong>Recorded Date:</strong> {{contact_tracings.create_date }}
                            </a>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>            
        </div>
</div>
{% endblock %}
  

  




